.profile__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .profile__info {
        grid-area: info;
        justify-self: end;
        align-items: center;
        margin: 0 0 0 46px;
    }
}