.preview__close-button {
    width: 32px;
    height: 32px;
    background: url("../../../images/close_button.svg");
    position: absolute;
    left: calc(100% + 8px);
    top: -40px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.preview__close-button:hover {
    opacity: 0.6;
}