.profile__name {
    max-width: 294px;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: white;
    margin: 0 0 7px 30px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .profile__name {
        max-width: 189px;
        font-size: 27px;
        line-height: 33px;
        margin: 26px 0 0;
    }
}