.preview_closed {
	animation-duration: 0.4s;
	animation-timing-function: linear;
    animation-name: preview_closed;
	opacity: 0;
	visibility: hidden;
}

@keyframes preview_closed { 
	from {
		opacity: 1;
		visibility: visible;
	}
	to {
		opacity:0;
		visibility: hidden;
	}
}