.header {
    box-sizing: border-box;
    margin: 45px calc((100% - 880px) / 2) 0;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 900px) {
    .header {
        width: 100%;
        margin: 28px 0 0;
    }
}